
<section id="vino" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 mx-auto">
        <div class="card_vino">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid" src="{{vino.imagen}}" alt="{{vino.nombre}}">
              </p>
              <h4 class="card-title">{{vino.nombre}}</h4>
              <h5 class="card-title">{{vino.marca}}</h5>
              <p class="card-text">
                {{vino.descripcion}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>